* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Caveat", cursive;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #67ce67, #d8ffd8);
}

.form {
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 20px #4c8a4c;
  background-color: white;
  border-radius: 20px;
}

.sign-up-container {
  width: 100%;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-container h2 {
  margin-bottom: 20px;
  font-size: 40px;
  color: #2d5e2d;
}

.sign-up-container input {
  width: 55%;
  margin: 5px;
  padding: 10px;
  font-size: 25px;
  color: #4c8a4c;
  border-radius: 10px;
  border: none;
  background-color: #eff0ef;
}

.sign-up-container button {
  width: 30%;
  margin: 10px;
  padding: 5px;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(to right, #67ce67, #b5fcb5);
  color: white;
  cursor: pointer;
}

@media (max-width: 1050px) {
  .form {
    width: 45%;
  }
}

@media (max-width: 800px) {
  .form {
    width: 80%;
  }
}